table.taskboard {
	width: 100%;
	border-spacing: 1.25em 0;
	border-collapse: separate;
}

table.taskboard th {
	width: 10%;
	min-width: 15em;
	background-color: #eeeeff;
	border: 1px solid #bbbbff;
}

table.taskboard td {
	vertical-align: top;
	padding: 0;
}

table.taskboard ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

table.taskboard li.task {
	margin: 0;
	padding: 0.25em 0.5em;
	border: 1px solid #bbbbff;
	border-top-width: 0;
}

table.taskboard li.task:hover {
	background-color: #e6f2ff !important;
}

table.taskboard li.task.mine {
	background-color: #ffffb6;
}

table.taskboard li.task.expedited {
	background-color: #ffe6e6;
}

table.taskboard li.task div {
	padding: 1px 0.5em;
}

table.taskboard li.task p {
	margin: 0.2em 0;
	padding: 0;
}

table.taskboard li.task.old a.number {
	font-weight: bold;
	color: #000066;
}

table.taskboard li.task p.task_type {
	float: right;
	clear: right;
	padding: 0 0.5em;
	margin: 0.1em 0;
	text-transform: capitalize;
}

table.taskboard li.task p.taskboard_priority {
	display: none;
	float: right;
	clear: right;
	color: #666666;
	font-size: 60%;
}

table.taskboard li.task p.priority {
	float: right;
	clear: right;
	padding: 0.1em 0.5em;
	margin: 0.1em 0;
}
table.taskboard li.task.priority_4 p.priority {
	color: #7c9999;
}
table.taskboard li.task.priority_3 p.priority {
	color: #4d4d4d;
}
table.taskboard li.task.priority_2 p.priority {
	color: #000000;
	background-color: #ffd080;
}
table.taskboard li.task.priority_1 p.priority {
	color: #ffffff;
	background-color: #ff0000;
	font-weight: bold;
}

table.taskboard li.task a {
	text-decoration: none;
}

table.taskboard li.task a:hover {
	text-decoration: underline;
}
